.dark {
  /* --color-text-primary: rgb(227, 227, 227);
  --color-text-secondary: rgb(172, 172, 172); */
  --color-bg: rgb(38, 33, 37);
  --color-bg-editor: rgb(30, 30, 30);
}

.light {
  --color-bg: rgb(255, 255, 255);
  --color-bg-editor: rgb(255, 255, 255);
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
