// /* Basic editor styles */
.ProseMirror {
  ul[data-type="taskList"] {
    list-style: none;
    padding: 0;

    li {
      &:before {
        content: none !important;
      }

      display: flex;
      align-items: center;
      padding-left: 0 !important;

      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        margin-top: 0 !important;
      }

      > div {
        margin-bottom: 0 !important;
        > p {
          margin-top: 0 !important;
          margin-bottom: 0 !important;
        }
      }
    }

    input[type="checkbox"] {
      cursor: pointer;
    }
  }
}
// .ProseMirror {
//   height: 100%;
//   @apply prose prose-sm prose-indigo;
//   @apply px-4 py-4 outline-none;

//   ul[data-type="taskList"] {
//     list-style: none;
//     padding: 0;

//     li {
//       display: flex;
//       align-items: center;

//       > label {
//         flex: 0 0 auto;
//         margin-right: 0.5rem;
//       }
//     }
//   }

//   code {
//     background-color: rgba(#616161, 0.1);
//     color: #616161;
//   }

//   pre {
//     @apply bg-paper text-text-primary rounded-lg;
//     font-family: "JetBrainsMono", monospace;
//     padding: 0.75rem 1rem;

//     code {
//       color: inherit;
//       padding: 0;
//       background: none;
//       font-size: 0.8rem;
//     }
//   }

//   blockquote {
//     // padding-left: 1rem;
//     // border-left: 2px solid rgba(#0d0d0d, 0.1);
//     @apply bg-paper text-text-primary p-1 pl-4 border-l-4 rounded-md border-primary-300 bg-primary-400 bg-opacity-10;
//   }
// }
